{{#partial "content"}}
<p>User List</p>

{{#users}}

<a href="/admin/edituser?name={{username}}">{{username}}</a><br>

{{/users}}

<br>
<button onclick="location.href='/admin/createuser'" type="button">Create New User</button><br>
<br>
{{/partial}}

{{> base.hbs}}
