{{#partial "content"}}
<p>Delete User</p>
<h2>Are you sure you want to delete {{name}}??<br>
This cannot be undone!<br></h2>
<button onclick="location.href='/admin/deleted?name={{name}}'" type="button">DELETE</button>
<button onclick="location.href='/admin'" type="button">Nevermind</button><br>
<br>
{{/partial}}

{{> base.hbs}}
