{{#partial "content"}}
<p>Edit User</p>
<form method="GET" action="/admin/edited">
	<table>
	<tr>
		<td align="center"><b>Editing {{ name }}</b> </td>
	</tr>
        <tr>
                <td align="right"><label for="name">Username:</label></td>
                <td align="left"><input type="text" id="name" name="name" value="{{name}}" readonly></td>
        </tr>
	<tr>
		<td align="right"><label for="password">Password:</label></td>
		<td align="left"><input type="text" id="password" name="password"></td>
	</tr>
	<tr>
		<td align="right"><label for="fullName">Full Name:</label></td>
		<td align="left"><input type="text" id="fullName" name="fullName"></td>
	</tr>
	</table>
	<input type="submit" value="Save Changes"><br>
</form><br>
<br>
<button onclick="location.href='/admin/deleteuser?name={{name}}'" type="button">DELETE USER</button> - You'll only get 1 warning...<br>
<br>
{{/partial}}

{{> base.hbs}}
