{{#partial "content"}}
<p>Welcome to Image Gallery</p>
<ol>

<li><a href="/images">View</a></li>
<li><a href="/upload">Upload</a></li>
<li><a href="/admin">Admin</a></li>

</ol>
<br>
{{/partial}}

{{> base.hbs}}
