{{#partial "content"}}
<p>Image List</p>
<ul>
{{#images}}

<li><a target="_blank" href="https://s3.us-east-2.amazonaws.com/edu.au.cc.jzw.image-gallery/{{image}}"><img src="https://s3.us-east-2.amazonaws.com/edu.au.cc.jzw.image-gallery/{{image}}" alt={{ filename }}</a></li>

{{/images}}
</ul>
<br>
{{/partial}}

{{> imagebase.hbs}}
