<!DOCTYPE html>
<html>
<style>
img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}
img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
</style>
<head>
<title>Image Gallery</title>
<meta charset="utf-8" />
</head>
<body>
{{#block "header"}}
<h1>Image Gallery</h1>
{{/block}}

{{#block "content"}}
{{/block}}

{{#block "footer"}}
<span>War Eagle!</span>
{{/block}}
</body>
</html>
