{{#partial "content"}}
<p>Input Error</p>
<h2>There was a problem with your request. Check your input and try again.<br></h2>
<button onclick="location.href='/admin'" type="button">Admin Menu</button><br>
<br>
{{/partial}}

{{> oops.hbs}}
