<!DOCTYPE html>
<html>
<head>
<title>Oops!</title>
<meta charset="utf-8" />
</head>
<body>
{{#block "header"}}
<h1>Oops!</h1>
{{/block}}

{{#block "content"}}
{{/block}}

{{#block "footer"}}
<span>War Eagle!</span>
{{/block}}
</body>
</html>
