{{#partial "content"}}
<p>Upload Images</p>
<form method="POST" action="/upload">
	<table>
	<tr>
		<td align="center"><b>Select an image to upload</b> </td>
                <td align="left"><input type="file" id="img" name="img" accept="image/*"></td>
        </tr>
	</table>
	<input type="submit" value="Upload"><br>
</form><br>
<br>
{{/partial}}

{{> base.hbs}}
