{{#partial "content"}}
<p>Upload Images</p>
<form method="POST" enctype='multipart/form-data'>
	<table>
	<tr>
		<td align="center"><b>Select an image to upload</b> </td>
                <td align="left"><input type="file" id="img_file" name="img_file" accept=".png,.jpg,.gif,.bmp"></td>
        </tr>
	</table>
	<input type="submit" value="Upload Image"><br>
</form><br>
<br>
{{/partial}}

{{> imagebase.hbs}}
